<div class="row">
  <div class="col-md-4 col-sm-6 col-12">
    <%- include('partials/Card', {pretitle: 'Make a', keytitle: 'Dinner Reservation'}) %>
  </div>
  <div class="col-md-4 col-sm-6 col-12">
    <%- include('partials/Card', {pretitle: 'Choose a time for', keytitle: 'Breakfast'}) %>
  </div>
  <div class="col-md-4 col-sm-6 col-12">
    <%- include('partials/Card', {pretitle: 'Request', keytitle: 'Room Service'}) %>
  </div>
  <div class="col-md-4 col-sm-6 col-12">
    <%- include('partials/Card', {pretitle: 'Book a', keytitle: 'Taxi'}) %>
  </div>
  <div class="col-md-4 col-sm-6 col-12">
    <%- include('partials/Card', {pretitle: 'See Local', keytitle: 'Attractions'}) %>
  </div>
  <div class="col-md-4 col-sm-6 col-12">
    <%- include('partials/Card', {pretitle: 'Get in', keytitle: 'Touch'}) %>  </div>

</div>

